*{
    margin: 0;
    padding: 0;
}
.part-1{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849)), url('images/Rectangle\ 237\ \(1\).png');
    height: 669px;
    width: auto;
    color: white;
    text-align: center;
}

.part-1-1{
    padding-top: 174px;
    font-size: 65px;
    font-family: 'Inter', sans-serif;
}
#button-1{
    color: white;
    width: 160px;
    height: 56px;
    background-color: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}


